<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Features>
<Feature>
<featureName>Board</featureName>
<type>NULL</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Player</featureName>
<type>NULL</type>
<amount>4</amount>
</Feature>
<Feature>
<featureName>RoleCard</featureName>
<type>ContingencyPlanner</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>RoleCard</featureName>
<type>Dispatcher</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>RoleCard</featureName>
<type>Medic</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>RoleCard</featureName>
<type>OperationsExpert</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>RoleCard</featureName>
<type>QuarantineSpecialist</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>RoleCard</featureName>
<type>Researcher</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>RoleCard</featureName>
<type>Scientist</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>ReferenceCard</featureName>
<type>NULL</type>
<amount>4</amount>
</Feature>
<Feature>
<featureName>EventCard</featureName>
<type>Epidemic</type>
<amount>6</amount>
</Feature>
<Feature>
<featureName>EventCard</featureName>
<type>Event</type>
<amount>5</amount>
</Feature>
<Feature>
<featureName>EventCard</featureName>
<type>Infection</type>
<amount>48</amount>
</Feature>
<Feature>
<featureName>StateCard</featureName>
<type>City</type>
<amount>48</amount>
</Feature>
<Feature>
<featureName>Pawn</featureName>
<type>NULL</type>
<amount>7</amount>
</Feature>
<Feature>
<featureName>Marker</featureName>
<type>Outbreak</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Marker</featureName>
<type>Infection</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Marker</featureName>
<type>RedCure</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Marker</featureName>
<type>BlackCure</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Marker</featureName>
<type>YellowCure</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Marker</featureName>
<type>BlueCure</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Figure</featureName>
<type>RedCube</type>
<amount>24</amount>
</Feature>
<Feature>
<featureName>Figure</featureName>
<type>BlackCube</type>
<amount>24</amount>
</Feature>
<Feature>
<featureName>Figure</featureName>
<type>YellowCube</type>
<amount>24</amount>
</Feature>
<Feature>
<featureName>Figure</featureName>
<type>BlueCube</type>
<amount>24</amount>
</Feature>
<Feature>
<featureName>Figure</featureName>
<type>ResearchStation</type>
<amount>6</amount>
</Feature>
<Feature>
<featureName>Timer</featureName>
<type>Move</type>
<amount>0</amount>
</Feature>
<Feature>
<featureName>Timer</featureName>
<type>Game</type>
<amount>0</amount>
</Feature>
<Feature>
<featureName>Meter</featureName>
<type>Board</type>
<amount>2</amount>
</Feature>
</Features>
