<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Features>
<Feature>
<featureName>Role Card</featureName>
<type>scientist</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Role Card</featureName>
<type>dispatcher</type>
<amount>1</amount>
</Feature>
<Feature>
<featureName>Player</featureName>
<type>null</type>
<amount>4</amount>
</Feature>
<Board>
<nodeName>london</nodeName>
<neighbours>milan  istanbul  </neighbours>
</Board>
<Board>
<nodeName>milan</nodeName>
<neighbours>london  </neighbours>
</Board>
</Features>
